<!-- <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<style>
    table {border-collapse: collapse;}
    table td {padding: 0px}
</style>

<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

    <img style="position:absolute;top:0.55in;left:0.54in;width:8.18in;height:15.01in" src="https://i.postimg.cc/QH6tSS3M/ci-1.png" />
    <img style="position:absolute;top:0.55in;left:0.55in;width:8.18in;height:15.01in" src="https://i.postimg.cc/DSs9myBK/ci-2.png" />
    <img style="position:absolute;top:0.55in;left:0.55in;width:8.18in;height:15.01in" src="ci_3.png" />
    <img style="position:absolute;top:0.77in;left:0.66in;width:7.27in;height:0.44in" src="vi_1.png" />
    <img style="position:absolute;top:1.22in;left:0.66in;width:7.27in;height:1.06in" src="vi_2.png" />
    <img style="position:absolute;top:2.28in;left:0.66in;width:7.27in;height:1.49in" src="vi_3.png" />
    <img style="position:absolute;top:3.77in;left:0.66in;width:7.27in;height:0.34in" src="vi_4.png" />
    <img style="position:absolute;top:4.11in;left:0.66in;width:7.27in;height:10.48in" src="ci_4.png" />
    <div style="position:absolute;top:4.17in;left:1.02in;width:1.81in;line-height:0.24in;">
        <span style="font-style:normal;font-weight:bold;font-size:13pt;font-family:Helvetica;color:#b2a78c">Hi Dheeraj
            Verma,</span>
        <span style="font-style:normal;font-weight:bold;font-size:13pt;font-family:Helvetica;color:#b2a78c">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:4.63in;left:1.02in;width:4.05in;line-height:0.17in;">
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">Thank you
            for purchasing 1 ticket(s) for </span>
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#444444">Prerna 2022,
            Jaipur</span>
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">.</span>
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:5.04in;left:1.02in;width:2.64in;line-height:0.17in;">
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">Your
            Registration details are as follows:</span>
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:5.25in;left:1.02in;width:1.44in;line-height:0.17in;">
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">Booking Id
            : </span>
        <span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#444444">7812635</span>
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:5.70in;left:1.05in;width:0.48in;line-height:0.18in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#444444">NAME</span>
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#444444">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:5.70in;left:3.25in;width:0.43in;line-height:0.18in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#444444">TYPE</span>
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#444444">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:5.70in;left:5.43in;width:0.49in;line-height:0.18in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#444444">PRICE</span>
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#444444">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:5.95in;left:1.05in;width:1.03in;line-height:0.17in;">
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">Dheeraj
            Verma</span>
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:5.95in;left:3.25in;width:0.41in;line-height:0.17in;">
        <span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">Silver</span>
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:5.95in;left:5.43in;width:0.79in;line-height:0.17in;">
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">INR
            200.00</span>
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:8.94in;left:1.02in;width:1.14in;line-height:0.19in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#b2a78c">Event
            Details :</span>
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#b2a78c">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:9.22in;left:1.27in;width:0.69in;line-height:0.17in;">
        <span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">Organizer</span>
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:9.22in;left:2.04in;width:1.34in;line-height:0.18in;">
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">: </span>
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#444444">Raj Vidya
            Kender</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#444444">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:9.56in;left:1.27in;width:0.47in;line-height:0.17in;">
        <span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">Venue</span>
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:9.56in;left:2.04in;width:3.09in;line-height:0.18in;">
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">:
        </span><span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#444444">Raj
            Vidya Kender, Jaipur, Panwaliya, India</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#444444">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:9.90in;left:1.27in;width:3.50in;line-height:0.18in;">
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">Event Date
            : </span>
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#444444">10 Apr 2022
            : 4:30 AM - 8:30 AM (IST)</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#444444">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:10.25in;left:1.27in;width:2.74in;line-height:0.17in;">
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">Event Link
        </span></SPAN><br />
    </div>
    <div style="position:absolute;top:10.25in;left:1.27in;width:2.74in;line-height:0.18in;">
        <DIV style="position:relative; left:0.78in;">
            <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Helvetica;color:#444444">:
            </span>
            <a href="https://www.townscript.com/e/prerna-2022-jaipur-432202">
                <span
                    style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#b2a78c">prerna-2022-jaipur-432202</span></a>
            <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#b2a78c">
            </span><br /></SPAN>
        </DIV>
    </div>
    <div style="position:absolute;top:10.89in;left:1.02in;width:1.97in;line-height:0.19in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#b2a78c">Message from
            organizer :</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#b2a78c">
        </span><br /></SPAN>
    </div>
    <img style="position:absolute;top:9.19in;left:1.05in;width:0.17in;height:0.17in" src="ri_1.png" />
    <img style="position:absolute;top:9.53in;left:1.05in;width:0.17in;height:0.17in" src="ri_2.png" />
    <img style="position:absolute;top:9.87in;left:1.05in;width:0.17in;height:0.17in" src="ri_3.png" />
    <img style="position:absolute;top:10.22in;left:1.05in;width:0.17in;height:0.17in" src="ri_4.png" />
    <div style="position:absolute;top:0.95in;left:5.10in;width:0.35in;line-height:0.14in;">
        <a
            href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=https://townscript.com/e/prerna-2022-jaipur-432202&amp;p[images][0]=&amp;p[title]=I%20am%20attending%20on%20Townscript.com%20&amp;p[summary]=">
            <span
                style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Helvetica;color:#140f02">Share</span></a>
        <span style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Helvetica;color:#140f02">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:0.95in;left:5.70in;width:0.35in;line-height:0.14in;">
        <a href="http://twitter.com/home?status=I%20am%20attending%20prerna-2022-jaipur-432202%20via%20@Townscript.com">
            <span
                style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Helvetica;color:#140f02">Tweet</span></a>
        <span style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Helvetica;color:#140f02">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:3.22in;left:1.00in;width:0.84in;line-height:0.19in;">
        <span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#006699">Organizer:</span>
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Helvetica;color:#006699">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:1.64in;left:1.14in;width:6.40in;line-height:0.38in;">
        <span style="font-style:normal;font-weight:bold;font-size:21pt;font-family:Helvetica;color:#fafaf5">Your
            Registration for Prerna 2022, Jaipur!</span>
        <span style="font-style:normal;font-weight:bold;font-size:21pt;font-family:Helvetica;color:#fafaf5">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:3.44in;left:1.00in;width:1.74in;line-height:0.24in;">
        <span style="font-style:normal;font-weight:bold;font-size:13pt;font-family:Helvetica;color:#006699">Raj Vidya
            Kender</span>
        <span style="font-style:normal;font-weight:bold;font-size:13pt;font-family:Helvetica;color:#006699">
        </span><br /></SPAN>
    </div>
    <img style="position:absolute;top:0.86in;left:0.76in;width:1.70in;height:0.26in" src="ri_5.png" />
    <img style="position:absolute;top:0.91in;left:4.93in;width:0.17in;height:0.17in" src="ri_6.png" />
    <img style="position:absolute;top:0.91in;left:5.53in;width:0.17in;height:0.17in" src="ri_7.png" />
    <img style="position:absolute;top:2.41in;left:3.95in;width:0.61in;height:0.02in" src="vi_5.png" />
    <img style="position:absolute;top:2.41in;left:3.95in;width:0.02in;height:0.61in" src="vi_6.png" />
    <img style="position:absolute;top:3.00in;left:3.95in;width:0.61in;height:0.02in" src="vi_7.png" />
    <img style="position:absolute;top:2.41in;left:4.54in;width:0.02in;height:0.61in" src="vi_8.png" />
    <img style="position:absolute;top:3.00in;left:3.97in;width:0.57in;height:0.57in" src="ri_8.jpeg" />
    <img style="position:absolute;top:8.25in;left:1.02in;width:1.91in;height:1.91in" src="ri_9.png" />
</body>

</html> -->















<html>
{% load static %}

<style>
    .btn{
        margin-top:36px;
        width: 200px;
        border-radius: 8px;
        display: block;
        text-decoration: none;
        background:#fdc841;
        color:#fff;
        padding: 12px 24px 12px 24px;
        transition: 0.5s;
    }
    .btn:hover{
        background:#8e7023;
    }
</style>

<body style="font-family: sans-serif">

    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                    <tr>
                        <td align="center" valign="top">
                            <h2 style="margin-top: 50px; font-size:25px; line-height:25px; color: #293145;">
                                Registration Confirmation
                            </h2>

                            <div style="margin-top:36px;color:#5A6277;line-height: 24px;">
                                <span>Your registration successfully completed</span>
                                </br>
                            </div>

                            <h2 style="text-align: center;">Your Booking Id:{{booking_id}}</h2>

                            <a href='https://postimg.cc/w1sWFfm5' target='_blank'><img src='https://i.postimg.cc/w1sWFfm5/ri-8.jpg' border='0' alt='ri-8'/></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>

</html>


















